streamlit==1.22
# git+https://github.com/streamlit/gsheets-connection # こっちでcloudで動作した
# git+https://github.com/sfc-gh-jcarroll/st-connection-prpr.git # 次にこっちでもcloudで動作した。20231218_14:45
st-gsheets-connection
Pillow==9.4.0

pandas==1.5.3
